header {
  background-color: #13171f;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  padding: 1rem;
  height: 100vh;
  width: 100%;
}

footer {
  background-color: #13171f;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}


.menu {
  display: flex;
  justify-content:left;
  gap: 1rem;
}

.linkCustom {
  color: #fff;
  text-decoration: none;
}

.rowActions {
  display: flex;
  justify-content:left;
  gap: 1rem;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn {
  border: 1px solid black;
}

.btn_activate  {
  background-color: #28a745;
  color: #fff;
}

.btn_inactivate {
  background-color: #dc3545;
  color: #fff;
}

.btn_edit {
  background-color: #007bff;
  color: #fff;
}

.btn_delete {
  background-color: #dc3545;
  color: #fff;
}


.btn_viewPermissions{
  background-color: #b5973c;
  color: #fff;
}

.btn_viewUsers{
  background-color: #17a2b8;
  color: #fff;
}
