header {
  background-color: #13171f;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  padding: 1rem;
  width: 100%;
  min-height: 100vh; /* Altura mínima del 100% de la ventana */
}

footer {
  background-color: #13171f;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: sticky;
  bottom: 0;
}


.menu {
  display: flex;
  justify-content:left;
  gap: 1rem;
}

.headerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linkCustom {
  color: #fff;
  text-decoration: none;
}

.errorMessage {
  color: red;
}

.small-swal-popup {
  width: 500px !important;  /* Reduce el ancho */
  font-size: 14px !important; /* Reduce el tamaño del texto */
  padding: 10px !important; /* Ajusta el padding */
}

.button-group {
  display: flex;
  justify-content: right;
  gap: 1rem;
}


.rowActions {
  display: flex;
  justify-content:left;
  gap: 1rem;
}

button[type="submit"] {
  width: min-content;
}


.btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid black;
}

.btn_create, .btn_add, .btn_activate {
  background-color: #28a745;
  color: #fff;
}


.btn_delete, .btn_cancel, .btn_inactivate {
  background-color: #dc3545;
  color: #fff;
}

.btn_edit, .btn_update {
  background-color: #007bff;
  color: #fff;
}

